<div id="main-content">

  <h3><%= t(:step2) %></h3>
  <%= form_for(@campaign_question, url: { controller: 'campaign_questions', action: 'create' }) do |f| %>
    <%= f.collection_select(:question_id, Question.all, :id, :content, {include_blank: t(:please_select).titleize})  %>
    <%= f.hidden_field :campaign_id %>
    <%= f.submit %>
  <% end %>

</div> <!-- main content -->