<div id="main-content">

<div id="recruiter-login">

<h3>Cambiar tu contrase単a</h3>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nueva contrase単a" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirma nueva contrase単a" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cambiar Contrase単a" %></div>
<% end %>

<br />

</div>

</div>