<div id="main-content" class="select_questions_gateway">

  <h3><%= t :step2A %></h3>
  <p>
    Aquí puedes agregar 'preguntas de filtro' que te ayudarán filtrar los candidatos basados en sus respuestas a preguntas cerradas.<br />
    Para cada pregunta de filtro, ingresa la pregunta que quieres hacer en el cuadro de texto <span class="italic">ej, "¿Tienes experiencia en viajes?"</span><br />Y después en la parte abajo del cuadro de texto, selecciona la opción que deberían seleccionar los candidatos para poder continuar con el proceso de selección.
  </p>
  <%= form_for @campaign, :url => {:action => "add_filter_options"} do |f| %>

    <div class="text-question-wrapper">
        <div class="campaign-step-2-left-col">
          <strong><%= f.label :min_age %></strong>
        </div> <!-- Campaign Step 2 Left Column -->
        <div class="campaign-step-2-right-col">
          <%= f.select :min_age, options_for_select(Array(18..65)), {:include_blank => 'Seleccionar'}, class: "dropdown-small" %><br />
        </div> <!-- Campaign Step 2 Right Column -->
        <div class="clear"></div>
    </div><!-- text-question-wrapper -->

    <div class="text-question-wrapper">
        <div class="campaign-step-2-left-col">
          <strong><%= f.label :max_age %></strong>
        </div> <!-- Campaign Step 2 Left Column -->
        <div class="campaign-step-2-right-col">
          <%= f.select :max_age, options_for_select(Array(18..65)), {:include_blank => 'Seleccionar'}, class: "dropdown-small" %><br />
        </div> <!-- Campaign Step 2 Right Column -->
        <div class="clear"></div>
    </div><!-- text-question-wrapper -->

    <div class="text-question-wrapper">
        <div class="campaign-step-2-left-col">
          <strong><%= f.label :gender %></strong>
        </div> <!-- Campaign Step 2 Left Column -->
        <div class="campaign-step-2-right-col">
          <%= f.select :gender, options_for_select(%w(Masculino Femenino)), {:include_blank => 'Seleccionar'}, class: "dropdown-small" %><br />
        </div> <!-- Campaign Step 2 Right Column -->
        <div class="clear"></div>
    </div><!-- text-question-wrapper -->

    <div class="text-question-wrapper">
        <div class="campaign-step-2-left-col">
          <strong><%= f.label :max_salary %></strong>
        </div> <!-- Campaign Step 2 Left Column -->
        <div class="campaign-step-2-right-col">
          <%= f.select :max_salary, options_for_select(%w(3,000 5,000 7,000 8,000 10,000 15,000 20,000 25,000 30,000 35,000 40,000 45,000 50,000 60,000 70,000 80,000 90,000 100,000 120,000 140,000 150,000  >150,000)), {:include_blank => 'Seleccionar'}, class: "dropdown-small" %><br />
        </div> <!-- Campaign Step 2 Right Column -->
        <div class="clear"></div>
    </div><!-- text-question-wrapper -->

    <div class="text-question-wrapper">
        <div class="campaign-step-2-left-col">
          <strong><%= f.label :civil_status %></strong>
        </div> <!-- Campaign Step 2 Left Column -->
        <div class="campaign-step-2-right-col">
          <%= f.select :civil_status, options_for_select(%w(Soltero Casado)), {:include_blank => 'Seleccionar'}, class: "dropdown-small" %><br />
        </div> <!-- Campaign Step 2 Right Column -->
        <div class="clear"></div>
    </div><!-- text-question-wrapper -->

    <div id="wrapper-for-add-question">
      <%= link_to t(:additional_question), "#", id: "add-gateway-question-link", class: "button" %>
    </div>

    <div class="text-question-wrapper">
        <div class="campaign-step-2-left-col">
          &nbsp;
        </div> <!-- Campaign Step 2 Left Column -->
        <div class="campaign-step-2-right-col">
          <%= submit_tag t(:next), class: "step-2-next button" %>
          <%= submit_tag t(:skip), class: "step-2-next button" %>
        </div> <!-- Campaign Step 2 Right Column -->
      </div><!-- text-question-wrapper -->

      <% end %>

<div class="clear">
</div>

</div> <!-- main content -->