<div id="main-content">

<div id="edit-organization">
<h3><em><%= @organization.name %></em></h3>
<%= "Account type: #{@organization.account.name}" %><br />
<%= "Account ID: #{@organization.account.internal_id}" %><br />
<%= "Anniversary: #{@organization.organization_account.anniversary_day.ordinalize} of each month" %><br />
<%= "Current Users: #{@organization.organization_account.current_users} of #{@organization.account.max_users}" %><br />
<%= "Current Candidates: #{@organization.organization_account.current_candidates} of #{@organization.account.included_candidates}" %>
<p>
<%= link_to "Delete Organization", @organization, method: :delete, confirm: "Are you really sure you want to delete this organization, and all of its associated recruiters & interviews?", class: "button button-small" %>
</p>
</div>

<div id="manage-recruiters">
  <h3>Manage Recruiters</h3>
  <p>
  <%= link_to "Create New Recruiter", new_recruiter_path(organization_id: @organization.id), class: "button button-small" %>
  </p>

  <table id="recruiters">
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td class="col3">#Interviews</td>
        <td class="col3">#Candidates</td>
        <td></td>
      </tr>
    <% @organization.recruiters.each do |recruiter| %>
      <tr>
        <td class="col1"><%= link_to recruiter.name, recruiter %></td>
        <td class="col2"><%= recruiter.email %></td>
        <td class="col3"><%= recruiter.campaigns.count %></td>
        <td class="col3"><%= recruiter.candidates.count %></td>
        <td class="col4"><%= link_to "Edit", recruiter_manage_path(recruiter), id: "manage-recruiter-#{recruiter.id}" %></td>
      </tr>
    <% end %>
  </table>

</div>


</div>