  <h3>Agregar candidatos a una entrevista</h3>

  <p>
    Se puede agregar una lista de candidatos manualmente a una entrevista durante el proceso de crearla o en cualquier momento después.
  </p>

  <p>
    <strong>Durante el Proceso de Creación de la Entrevista</strong>
  </p>

  <p>
    Mientras estás creando une entrevista, tendrás la opción de agregar candidatos en el Paso 5.
  </p>

  <p>
    Solamente tienes que pegar los emails de los candidatos en el cuadro, separando cada email con una coma o en una línea nueva:<br />
    <%= image_tag('/assets/guides/22.jpg') %>
  </p>

  <p>
    <strong>Después de la Creación de la Entrevista</strong>
  </p>

  <p>
    Cuando estás en la Página de Manejo de la Entrevista, haz clic en ‘Agregar Candidatos’<br />
    <%= image_tag('/assets/guides/25.jpg') %>
  </p>

  <p>
    Solamente tienes que pegar los emails de los candidatos en el cuadro, separando cada email con una coma o en una línea nueva:<br />
    <%= image_tag('/assets/guides/22.jpg') %>
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Página de manejo del candidato") %><br />
    <%= link("Recibir solicitudes automáticamente") %>
  </p>



