



  <h3>Borrar un candidato</h3>

  <p>
    Si quieres eliminar un candidato de la entrevista, sólo haz clic en ‘Borrar Candidato’ en la Página de Manejo del Candidato<br />
    <%= image_tag('/assets/guides/39.jpg') %>
  </p>

  <p>
    y haz clic en 'OK' en el popup<br />
    <%= image_tag('/assets/guides/40.jpg') %>
  </p>

  <div class="guide-warning">

  <p>
    Nota: esto eliminará todas las respuestas del candidato
  </p>

  

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Página de manejo del candidato") %>
  </p>



