



  <h3>Cambiar tu contraseña</h3>

  <p>
    Para cambiar la contraseña de tu cuenta, haz clic en el enlace de ‘Editar Cuenta’ en el menú en la parte superior derecha de la página<br />
    <%= image_tag('/assets/guides/44.jpg') %>
  </p>

  <p>
    haz clic en el enlace que dice ‘Cambiar Contraseña’<br />
    <%= image_tag('/assets/guides/49.jpg') %>
  </p>

  <p>
    Ingresa tu contraseña actual<br />
    <%= image_tag('/assets/guides/50.jpg') %>
  </p>

  <p>
    Ingresa tu nueva contraseña<br />
    <%= image_tag('/assets/guides/51.jpg') %>
  </p>

  <p>
    Confirma tu nueva contraseña<br />
    <%= image_tag('/assets/guides/52.jpg') %>
  </p>

  <p>
    Haz clic en ‘Enviar’<br />
    <%= image_tag('/assets/guides/53.jpg') %>
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Editar tu cuenta") %>
  </p>



