



  <h3>Compartir un candidato</h3>

  <p>
    Una vez que un candidato haya completado su entrevista, puedes compartir sus respuestas con tus colegas para solicitar su aporte para la decisión.
  </p>

  <p>
    Desde la Página de Manejo del Candidato, haz clic en ‘Compartir Candidato’<br />
    <%= image_tag('/assets/guides/33.jpg') %>
  </p>

  <p>
    Para compartir el candidato con alguien que no tiene una cuenta de Ampleo, ingresa su email en el cuadro de texto:<br />
    <%= image_tag('/assets/guides/34.jpg') %>
  </p>

  <p>
    Para compartir el candidato con un colega que tiene una cuenta de Ampleo, selecciona su nombre de la lista en la parte debajo de la página:<br />
    <%= image_tag('/assets/guides/35.jpg') %>
  </p>

  <p>
    Haz clic en ‘Compartir Candidato’<br />
    <%= image_tag('/assets/guides/36.jpg') %>
  </p>

  <p>
    Tus colegas recibirán un email avisándolos que has compartido un candidato con ellos, y con instrucciones de como ver sus respuestas.
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Página de manejo del candidato") %>
  </p>



