  <h3>Crear una entrevista</h3>

  <p>
    <strong>Paso 1: Configura la Entrevista</strong>
  </p>

  <ol>
    <li>Asegúrate que estás en tu página principal. Puedes accederla haciendo clic en ‘Inicio’ en el menú en la parte superior derecha de la página. (<%= link("Página principal") %>)</lI>
    <li>Haz clic en el botón que dice ‘Nueva Entrevista’</li>
      <%= image_tag('/assets/guides/8.jpg') %>
    <li>Llena el campo de ‘Nombre del puesto’ con el nombre de la vacante. Se recomienda usar el mismo nombre que está en la descripción del puesto que hayas publicado. (<%= link("Nombre del puesto") %>)</li>
      <%= image_tag('/assets/guides/9.jpg') %>
    <li>Seleccionar una fecha límite para la entrevista – los candidatos solo podrán participar en la entrevista antes de esta fecha. Una vez pasado, la entrevista será cerrado. (<%= link("Fecha límite") %>)</li>
      <%= image_tag('/assets/guides/10.jpg') %>
    <li>Si la vacante todavía está publicada, puedes escoger que Ampleo recibe las futuras solicitudes de los candidatos directamente. Si deseas esta opción, selecciona ‘Sí’ en el campo de ‘Recibir solicitudes?’ Nota: esta solo aplicará a los futuros solicitantes. (<%= link("Recibir solicitudes") %>)</li>
      <%= image_tag('/assets/guides/11.jpg') %>
    <li>Si hayas seleccionado ‘Sí’ en ‘Recibir solicitudes?’ y quieres recibir una copia de las solicitudes, selecciona ‘Sí’ en el campo de ‘Recibir copia de solicitudes?’ (<%= link("Recibir copia de solicitudes") %>)</li>
      <%= image_tag('/assets/guides/12.jpg') %>
    <li>Si deseas solicitar recomendaciones de amigos de los candidatos, selecciona ‘Sí’ en el campo de ‘Recomendar amigos?’ (<%= link("Recomendar amigos") %>)</li>
      <%= image_tag('/assets/guides/13.jpg') %>
    <li>Si deseas pedir los datos de referencias laborales, selecciona ‘Sí’ en ‘Requerir referencias?’ (<%= link("Requerir referencias") %>)</li>
      <%= image_tag('/assets/guides/14.jpg') %>
    <li>Haz clic en ‘Continuar’</li>
      <%= image_tag('/assets/guides/15.jpg') %>
  </ol>

  <p>
    <strong>Paso 2: Seleccionar las Preguntas Escritas</strong>
  </p>

  <p>
    Este paso es opcional. Si deseas incluir una sección escrita en tu entrevista, sigue las instrucciones abajo.<br /><br />
    Al contrario, haz clic en el botón que dice ‘Omitir’<br />
    <%= image_tag('/assets/guides/16.jpg') %>
  </p>

  <ol>
    <li>Selecciona una categoría de la lista que dice ‘Seleccionar Categoría’</li>
      <%= image_tag('/assets/guides/17.jpg') %>
    <li>Selecciona una pregunta de la lista de preguntas correspondientes</li>
      <%= image_tag('/assets/guides/18.jpg') %>
    <li>Repite los pasos (1) y (2) el número de veces necesario hasta tener todas las preguntas que quieres incluir</li>
    <li>Si deseas tener más de 5 preguntas escritas, haz clic en ‘Agregar Otra Pregunta’</li>
      <%= image_tag('/assets/guides/19.jpg') %>
    <li>Una vez terminado, haz clic en ‘Continuar’</li>
      <%= image_tag('/assets/guides/15.jpg') %>
  </ol>

  <p>
    <strong>Paso 3: Seleccionar las Preguntas de Voz</strong>
  </p>

  <p>
    Sigue los mismos pasos como en el <strong>Paso 2</strong> para agregar preguntas de voz a tu entrevista.
  </p>

  <p>
    Nota: Hay un límite en el número de preguntas de voz que puedes tener en una entrevista, depende en el paquete contratado por tu empresa.
  </p>

  <p>
    <strong>Paso 4: Revisar las Preguntas</strong>
  </p>

  <p>
    Si deseas modificar las preguntas escritas o de voz, haz clic en el botón correspondiente. (<%= link("Modificar preguntas de una entrevista") %>)
    <%= image_tag('/assets/guides/20.jpg') %>&nbsp;&nbsp;
    <%= image_tag('/assets/guides/21.jpg') %>
  </p>

  <p>
    <strong>Paso 5: Agregar Candidatos</strong>
  </p>

  <p>
    Si ya tienes una lista de candidatos, puedes agregarlos pegando sus emails en el cuadro, separando cada email con una coma o en una línea nueva. (<%= link("Agregar candidatos a una entrevista") %>)<br />
      <%= image_tag('/assets/guides/22.jpg') %>
  </p>

  <p>
    Haz clic en ‘Crear Entrevista’<br />
      <%= image_tag('/assets/guides/23.jpg') %>
  </p>

  <p>
    Tu entrevista ya está creada, y deberías poder ver los detalles en la página de confirmación:<br />
      <%= image_tag('/assets/guides/24.jpg') %>
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Página de manejo del candidato") %><br />
    <%= link("Modificar la fecha límite de una entrevista") %><br >
    <%= link("ID de entrevista") %>
  </p>



