



  <h3>Editar tu cuenta</h3>

  <p>
    Puedes cambiar la dirección de email o el nombre asociado con tu cuenta. Haz clic en el enlace de ‘Editar Cuenta’ en el menú en la parte superior derecha de la página<br />
    <%= image_tag('/assets/guides/44.jpg') %>
  </p>

  <p>
    Ingresa el nuevo email y/o nombre en los campos respectivos<br />
    <%= image_tag('/assets/guides/45.jpg') %>&nbsp;&nbsp;
    <%= image_tag('/assets/guides/46.jpg') %>
  </p>

  <p>
    y haz clic en ‘Actualizar’<br />
    <%= image_tag('/assets/guides/47.jpg') %>
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Cambiar tu contraseña") %>
  </p>



