



  <h3>Escuchar respuestas grabadas</h3>

  <p>
    Una vez que un candidato haya completado su entrevista, podrás escuchar sus respuestas a las preguntas de voz en la Página de Manejo del Candidato en la sección de Entrevista de Voz.
  </p>

  <p>
    Para escuchar la respuesta a una pregunta específica, haz clic en el botón que dice ‘Escuchar’ debajo de la pregunta:
    <%= image_tag('/assets/guides/42.jpg') %>
  </p>

  <p>
    La respuesta del candidato comenzará a reproducirse en el reproductor en la parte arriba de la sección<br />
    <%= image_tag('/assets/guides/41.jpg') %>
  </p>

  <p>
    Nota: Si nada pasa cuando haces clic en ‘Escuchar’, es probable que tienes un navegador que no es compatible con el reproductor.
  </p>

  <p>
    En este caso tienes dos opciones:
  </p>

  <ul>
    <li>Actualizar tu navegador</li>
    <li>Utilizar el botón que dice ‘Enlace directo’ para reproducir la grabación directamente en tu navegador, o para bajar el archivo a tu computadora</li>
    <%= image_tag('/assets/guides/43.jpg') %>
  </ul>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Página de manejo del candidato") %><br />
    <%= link("Modificar preguntas de una entrevista") %>
  </p>



