<div class="guides_menu">

  <h4>Inicio Rápido</h4>
  <% @guides_1.each do |guide| %>
    <%= link_to guide.name, guide %><br />
  <% end %>

  <h4>Navegación</h4>
  <% @guides_2.each do |guide| %>
    <%= link_to guide.name, guide %><br />
  <% end %>

  <h4>Crear y Manejar Entrevistas</h4>
  <% @guides_3.each do |guide| %>
    <%= link_to guide.name, guide %><br />
  <% end %>

  <h4>Atributos de Entrevistas</h4>
  <% @guides_4.each do |guide| %>
    <%= link_to guide.name, guide %><br />
  <% end %>

  <h4>Agregar y Manejar Candidatos</h4>
  <% @guides_5.each do |guide| %>
    <%= link_to guide.name, guide %><br />
  <% end %>

  <h4>Comunicación con Candidatos</h4>
  <% @guides_6.each do |guide| %>
    <%= link_to guide.name, guide %><br />
  <% end %>

  <h4>Manejar tu Cuenta</h4>
  <% @guides_7.each do |guide| %>
    <%= link_to guide.name, guide %><br />
  <% end %>

</div>