



  <h3>Modificar preguntas de una entrevista</h3>

  <p>
    Puedes modificar las preguntas de tu entrevista después de crearlo, haciendo clic en ‘Editar Preguntas’ en la Página de Manejo de la Entrevista<br />
    <%= image_tag('/assets/guides/54.jpg') %>
  </p>

  <p>
    Haz clic en ‘Editar Preguntas Escritas’ o ‘Editar Preguntas de Voz’<br />
    <%= image_tag('/assets/guides/20.jpg') %>&nbsp;&nbsp;
    <%= image_tag('/assets/guides/21.jpg') %>
  </p>

  <p>
    Para borrar una pregunta actual, haz clic en ‘Borrar Pregunta’<br />
    <%= image_tag('/assets/guides/55.jpg') %>
  </p>

  <p>
    O, para agregar preguntas adicionales, haz clic en ‘Agregar Otra Pregunta’<br />
    <%= image_tag('/assets/guides/56.jpg') %>
  </p>

  <p>
    Selecciona una categoría de la lista que dice ‘Seleccionar Categoría’<br />
    <%= image_tag('/assets/guides/17.jpg') %>
  </p>

  <p>
    Selecciona una pregunta de la lista de preguntas correspondientes<br />
    <%= image_tag('/assets/guides/18.jpg') %>
  </p>

  <p>
    Haz clic en ‘Agregar’<br />
    <%= image_tag('/assets/guides/57.jpg') %>
  </p>

  <p>
    Repite estos pasos el número de veces necesario hasta tener todas las preguntas que quieres incluir
  </p>

  <p>
    Cuando estás satisfecho con las preguntas, haz clic en ‘Guardar’<br />
    <%= image_tag('/assets/guides/58.jpg') %>
  </p>

  <p>
    Nota: Hay un límite en el número de preguntas de voz que puedes tener en una entrevista, depende en el paquete contratado por tu empresa.
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Escuchar respuestas grabadas") %>
  </p>



