



  <h3>Modificar la fecha límite de una entrevista</h3>

  <p>
    Si quieres modificar la fecha límite de una entrevista abierta (ej., para extender o reducirlo), en la Página de Manejo de Entrevista haz clic en ‘Modificar Fecha Límite’<br />
    <%= image_tag('/assets/guides/30.jpg') %>
  </p>

  <p>
    Selecciona la nueva fecha límite<br />
    <%= image_tag('/assets/guides/31.jpg') %>
  </p>

  <p>
    Haz clic en ‘Guardar’<br />
    <%= image_tag('/assets/guides/32.jpg') %>
  </p>

  <p>
    Cuando cambias la fecha límite, todos los candidatos que todavía no han completado su entrevista recibirán un email informándolos de la nueva fecha límite.
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Fecha límite") %><br />
    <%= link("Cerrar una entrevista") %><br />
    <%= link("Cambio de fecha límite o entrevista reabierta") %>
  </p>



