



  <h3>Página de manejo de entrevista</h3>

  Desde la Página de Manejo de la Entrevista, puedes:

  <ul>
    <li>Ver la lista y el estado de los candidatos</li>
    <li>Agregar candidatos adicionales (<%= link("Agregar candidatos a una entrevista") %>)</li>
    <li>Actualizar los atributos de la entrevista (ej., Fecha límite, Recibir aplicaciones, Recomendar amigos, Requerir referencias etc.)</li>
    <li>Modificar las preguntas de le entrevista (<%= link("Modificar preguntas de una entrevista") %>)</li>
    <li>Cerrar o re-abrir la entrevista (<%= link("Cerrar una entrevista") %>, <%= link("Re-abrir una entrevista") %>)</li>
    <li>Borrar la entrevista</li>
  </ul>

  <p>
    Para acceder a la Página de Manejo para una entrevista específica, haz clic en la ID de Entrevista en la tabla de Entrevistas en la Página Principal de tu Cuenta<br />
    <%= image_tag('/assets/guides/3.jpg') %>
  </p>

  <%= image_tag('/assets/guides/4.jpg') %>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página principal") %><br />
    <%= link("Página de manejo del candidato") %><br />
    <%= link("Fecha límite") %><br >
    <%= link("Recibir solicitudes") %><br />
    <%= link("Recomendar amigos") %><br />
    <%= link("Requerir referencias") %>
  </p>



