



  <h3>Página principal</h3>

  Desde la Página Principal de tu Cuenta, puedes:

  <ul>
    <li>Crear nuevas entrevistas (<%= link("Crear una entrevista") %>)</li>
    <li>Ver todas las entrevistas que has creado</li>
    <li>Ver todos los candidatos que tus colegas han compartido contigo</li>
  </ul>

  <p>
    Al iniciar una sesión, siempre estarás llevado a tu Página Principal.
  </p>

  <p>
    También puedes regresar a la Página Principal de tu Cuenta en cualquier momento a través de la enlace ‘Inicio’ en el menú en la parte superior derecha de la página<br />
    <%= image_tag('/assets/guides/1.jpg') %>
  </p>

  <%= image_tag('/assets/guides/2.jpg') %>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Página de manejo del candidato") %>
  </p>



