



  <h3>Página de manejo del candidato</h3>

  Desde la Página de Manejo del Candidato, puedes:

  <ul>
    <li>Ver las respuestas del candidato a las preguntas de la entrevista (<%= link("Escuchar respuestas grabadas") %>)</li>
    <li>Actualizar el email del candidato</li>
    <li>Compartir las respuestas del candidato con un colega</li>
    <li>Aceptar o rechazar al candidato</li>
    <li>Borrar el candidato</li>
  </ul>

  <p>
    Para acceder a la Página de Manejo para un candidato específico, primero ingresa a la Página de Manejo de la Entrevista haciendo clic en la ID de Entrevista en tu página principal<br />
    <%= image_tag('/assets/guides/5.jpg') %>
  </p>

  <p>
    Después haz clic en el email del candidato que quieres ver<br />
    <%= image_tag('/assets/guides/6.jpg') %>
  </p>

  <%= image_tag('/assets/guides/7.jpg') %>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página principal") %><br />
    <%= link("Página de manejo del candidato") %><br />
    <%= link("Fecha límite") %><br >
    <%= link("Recibir solicitudes") %><br />
    <%= link("Recomendar amigos") %><br />
    <%= link("Requerir referencias") %>
  </p>



