



  <h3>Recibir copia de solicitudes</h3>

  <p>
    Si has habilitado la recepción automática de solicitudes, también puedes recibir una copia de las solicitudes recibidas por Ampleo.
  </p>

  <p>
    Sólo selecciona ‘Si’ en el campo de ‘Recibir copia de solicitudes?’ en el Paso 1 de crear la entrevista<br />
    <%= image_tag('/assets/guides/12.jpg') %>
  </p>

  <p>
    Recibirás las copias en la dirección de email asociada con tu cuenta.
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Recibir solicitudes automáticamente") %><br />
    <%= link("Editar tu cuenta") %>
  </p>



