



  <h3>Recibir solicitudes automáticamente</h3>

  <p>
    Ampleo tiene la habilidad de recibir solicitudes de candidatos directamente y agregarlos a tus entrevistas, así automatizando completamente tu proceso inicial  de filtro de candidatos.
  </p>

  <p>
    Los candidatos sólo necesitan mandar su solicitud a:
  </p>

  <p>
    <%= mail_to("reclutamiento@candidates.ampleo.mx") %>
  </p>

  <p>
    e incluir la ID de la entrevista en el asunto de su email. Puedes encontrar la ID de la entrevista:
  </p>

  <p>
    En la página de confirmación una vez que hayas creado la entrevista<br />
    <%= image_tag('/assets/guides/26.jpg') %>
  </p>

  <p>
    Alternativamente, puedes encontrarla en la Página de Manejo de la Entrevista<br />
    <%= image_tag('/assets/guides/27.jpg') %>
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Página de manejo del candidato") %><br />
    <%= link("Agregar candidatos a una entrevista") %>
  </p>



