  <h3>Ya tengo una lista de candidatos</h3>
  <ol>
    <li>Crear tu entrevista (<%= link("Crear una entrevista") %>)</li>
    <li>Agregar la lista de candidatos a tu entrevista (<%= link("Agregar candidatos a una entrevista") %>)</li>
    <li>Esperar que los candidatos completen la entrevista</li>
    <li>Revisar sus respuestas a través de la Página de Manejo de la Entrevista (<%= link("Escuchar respuestas grabadas") %>)</li>
    <li>Aceptar o rechazar a los candidatos basado en sus respuestas (<%= link("Aceptar un candidato") %>, <%= link("Rechazar un candidato") %>)</li>
  </ol>

<p class="more-links">
  <strong>Más información:</strong><br />
  <%= link("Página principal") %><br />
  <%= link("Página de manejo de entrevista") %><br />
  <%= link("Página de manejo del candidato") %><br />
  <%= link("Recibir solicitudes automáticamente") %>
</p>


