<div id="main-content">

<div id="change-password">

  <div id="new-user">
  <% if @recruiter.new_user %>
    Para proteger tu seguridad, necesitas cambiar tu contraseña antes de continuar.
  <% end %>
    Tu nueva contraseña debe tener al menos 8 caracteres.
  </div>

  <% if @recruiter.errors.any? %>
  <div id="error_explanation">
    <% @recruiter.errors.each do |field, msg| %>
      <%= msg %><br />
    <% end %>
  </div>
  <% end %>

<h3><%= "Cambiar Contraseña" %></h3>

<%= form_for(@recruiter, :url => { :action => "update_password" } ) do |f| %>

    <div class="login-form-element">
            <div class="login-form-left-col">
              <%= f.label "Contraseña actual" %>
            </div>
            <div class="login-form-right-col">
              <%= f.password_field :current_password, id: "current-password" %>
            </div>
    </div>

    <div class="login-form-element">
            <div class="login-form-left-col">
              <%= f.label "Nueva contraseña" %>
            </div>
            <div class="login-form-right-col">
              <%= f.password_field :password, :autocomplete => "off", :id => "new-password"  %>
            </div>
    </div>

    <div class="login-form-element">
            <div class="login-form-left-col">
              <%= f.label "Confirmar contraseña" %>
            </div>
            <div class="login-form-right-col">
              <%= f.password_field :password_confirmation, :id => "password-confirm"  %>
            </div>
    </div>

    <div class="login-form-element">
      <% if @recruiter.new_user %>
        Necesitas leer y aceptar las <%= link_to "Condiciones de Uso de Ampleo", page_path("tou") %>, antes de continuar.
      <% end %>
    </div>

    <div class="login-form-element">
            <div class="login-form-left-col">
            </div>
            <div class="login-form-right-col">
              <%= f.submit "Enviar" , :id => "form-submit", class: "button" %>
                <div class="clear"></div>
            </div>
    </div>
  <div class="clear"></div>
  <% end %>
</div> <!-- Recruiter Login -->
</div> <!-- Main Content -->
